@import url('https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500');

//    Fonts
$text-font: 'Roboto', sans-serif;
$title-font: 'Poppins', sans-serif;

//    Colors

$first-color: #ffba00;
$second-color:#ff6c00;
$third-color3:#828bb3;
$title-color:#222222;
$text-color:#777777;
$baseColor:#c5322d; 
$dip: #222222;
$pfont:#777777;
$white:#fff;
$black:#000;
$offwhite:#fcfcfc;